<!doctype html>
<html>
<head>
  <title>{{ album_name }}</title>
  <script>
    function refreshPage() {
      location.reload();
    }
  </script>
</head>
<body>
  <h1>{{ album_name }}</h1>
  <p><a href="/upload">Upload a photo</a></p>
  <h2>Your Photos</h2>
  {% if photos %}
    {% for photo in photos %}
      <li style="list-style: none;">{{photo[2]}}
        <br>
        <br>
        {% if message %}
          <h4>{{message}}!</h4>
        {% endif %}
        {% if tags[photo[1]] %}
          Tags:
          {% for tag in tags[photo[1]] %}
            {{ tag }};
          {% endfor %}
        {% endif %}
        <br>
        <br>
        <img style='border: 1px solid rgba(87, 87, 87, 0.419); border-radius: 8px;' src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/><br />
        <form action="/deletephoto" method="POST">
          <input type="hidden" name="album_id" value="{{ album_id }}">
          <input type="hidden" name="photo_id" value="{{ photo[1] }}">
          <button type="submit">Delete photo?</button>
        </form>
        <br>
        {% if likes[photo[1]] %}
            Liked by: {{ likes[photo[1]] }}, <a href="/viewlikes?photo_id={{ photo[1] }}">View Likes</a>
        {% else %}
            No likes yet 
        {% endif %}
        <br>
        <br>
        <form action="/like" method="POST">
          <input type="hidden" name="album_id" value="{{ album_id }}">
          <input type="hidden" name="photo_id" value="{{ photo[1] }}">
          <button type="submit">Like</button>
        </form>
        <form action="/unlike" method ="POST">
          <input type="hidden" name="album_id" value="{{ album_id }}">
          <input type="hidden" name="photo_id" value="{{ photo[1] }}">
          <button type="submit">Unlike</button>
        </form>
        <br>
        {% if comments[photo[1]] %}
          {% for comment in comments[photo[1]] %}
            <h4>{{ comment[1] }} on {{ comment[2] }}</h4>
            <div style="margin-left: 20px;">
              <p>"{{ comment[0] }}"</p>
            </div>
          {% endfor %}
        {% else %}
          <p>No comments yet.</p>
        {% endif %}
      </li>
      <hr>
      <br>
    {% endfor %}
  {% endif %}
  <br>
  <button onclick="history.back()">Back</button><br />
  <a href='/'>Home</a>
</body>
</html>
