<form method="post" action="{{ url_for('register_user') }}">
    <input type="text" name="fname" value="John" required /><br /> 
    <input type="text" name="lname" value="Doe" required /><br /> 
    <input type="date" id="dob" name="dob" value="2000/01/01" required /><br />
    <input type="email" name="email" value="john.doe@example.com" required /><br />
    <input type="password" name="password" required /><br />
    <input type="text" name="gender" value="Male" /><br /> 
    <input type="text" name="hometown" value="New York" /><br /> 
</form>