<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 3 Tags</title>
</head>

<body>
    <h1>Top 3 Tags</h1>

    {% if tags %}
    <ul>
    {% for tag in tags %}
        <li>{{tag[0]}}: {{tag[1]}}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <button onclick="history.back()">Back</button><br />
    <a href='/'>Home</a></li>
</html>