<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Unauthorized</title>
</head>
<body>
    <h1> Yikes, looks like you need to <a href='/login'>login</a></h1>
    <h1> or <a href='/register'>make an account</a></h1>
    <h1> or continue as <a href='/guest_login'>Guest</a></h1>

    <br>

    <ul>
        <li><a href='/album'>View your albums</a></li>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
</body>
</html>